* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #323232;
    background: linear-gradient(to right, rgb(9, 7, 1), rgb(2, 71, 68));
    color: white;
}
body {
    display: flex;
    justify-content: center;
    align-items: start;
}
.container {
    width: 100%;
    max-width: 1250px;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    position: relative;
}
.container .menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 2rem 0 0   ;
    font-size: 2rem;
    display: none;
}

.todo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.todo-wrap h1 {
    font-size: 3.9rem;
    font-family: "Lobster", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    /* color: cyan; */
    color:  rgb(28, 236, 255);
    /* text-shadow: 2px 2px 5px yellow; */
}
.todo-wrap .input-wrap {
    /* position: relative; */
    display: flex;
    flex-direction: column;
}
.todo-wrap .input-wrap #title-field {
    padding: 9px 12px;
    width: 100%;
    max-width: 940px;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-bottom: 8px;
    color: white;
    border: 1px solid rgb(174, 174, 174);
}
.todo-wrap .input-wrap #input-field {
    padding: 9px 12px;
    width: 100%;
    max-width: 940px;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-bottom: 8px;
    color: white;
    border: 1px solid rgb(174, 174, 174);

}
.todo-wrap .input-wrap  .buttons {
    margin: 11px auto;
}
.todo-wrap .input-wrap .task-btn {
    padding: 5px 12px;
    border: none;
    border-radius: 12px ;
    cursor: pointer;
    font-size: .7rem;
    font-style: italic;
    font-weight: 700;
    background-color: rgb(198, 198, 198);
    transition: all .2s;
    width: 120px;
}
.todo-wrap .input-wrap .task-btn:hover {
    background-color: rgb(252, 251, 251);
}
.todo-wrap .input-wrap .delete-btn {
    padding: 5px 12px;
    border: none;
    border-radius: 12px ;
    cursor: pointer;
    font-size: .7rem;
    font-style: italic;
    font-weight: 700;
    background-color: rgb(249, 4, 4);
    transition: all .2s;
    color: white;
    width: 120px;
}
.todo-wrap .input-wrap .delete-btn:hover {
    background-color: rgb(204, 4, 4);
}
.todo-wrap .date-time {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2rem;
    font-size: .8rem;
}
.todo-wrap  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.todo-wrap .task {
    position: relative;
    background-color: rgba(15, 15, 15, 0.5);
    width: 100%;
    max-width:380px;
    margin-top: 1rem;
    padding: 10px 15px;
    border-radius: 50px;
    list-style: none;
}
.todo-wrap .task .task-desc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.todo-wrap .icons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.1rem;
}
.todo-wrap .icons .fa-circle-check {
    color: rgb(24, 213, 7);
    margin-right: 12px;
    cursor: pointer;
    transition: all .2s;
}
.todo-wrap .icons .fa-trash {
    cursor: pointer;
    color: rgb(204, 3, 3);
    margin-right: 12px;
    transition: all .2s;
}
.todo-wrap .icons .fa-circle-check:hover {
    color: rgb(22, 199, 6);

}
.todo-wrap .icons .fa-trash:hover {
    color: rgb(184, 3, 3);
}